extend layout 

block content
    h1  #{title}
    ul
        each article, i in articles
            //- li= "title: " + article.title +", body: " + article.body
            li= article.body
            